@import "style.scss";

.signup {
    height: 100vh;
    background-image: url("../assets/images/loginbg.svg");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;

    &__content {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;

        h2 {
            font-size: 5.5rem;
            font-weight: 400;
            margin-bottom: 0px;
        }

        h3 {
            font-size: 2rem;
            color: $lightBlue;
            font-weight: 300;
            margin-top: 0px;
        }

        @include breakpoint-down(medium) {
            h2 {
                font-size: 2.975rem;
                margin-bottom: 0.5rem;
            }

            h3 {
                font-size: 0.975rem;
                margin-bottom: 2.5rem;
            }
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;

        a {
            &:not(:last-child) {
                margin-right: 1.25rem;
            }
        }
    }
}