<div id="modalForgotPassword" class="modal container">
    <span data-type="modalcloser" data-target="#modalForgotPassword" class="modal__overlay"></span>
    <div class="modal__main">
        <a type="button" data-type="modalcloser" data-target="#modalForgotPassword" class="modal__closebtn">&times;</a>
        <form class="modal__form">
            <h2>Forgot Password</h2>
            <div class="modal__formelement">
                <label for="email">Email</label>
                <input type="text" id="email" placeholder="Enter email" required />
            </div>
            <div class="modal__formelement">
                <button type="submit">Reset password</button>
            </div>
            <div class="modal__formelement">
                <div class="flex flex-jc-a flex-ai-c">
                    <a type="button" data-type="modalswitcher" data-present="#modalForgotPassword" data-target="#modalSignIn">Sign In</a>
                    <a type="button" data-type="modalswitcher" data-present="#modalForgotPassword" data-target="#modalSignUp">Sign Up</a>
                </div>
            </div>
        </form>
    </div>
</div>