<header class="header">
    <div class="overlay has-fade"></div>
    <nav class="container flex flex-jc-sb flex-ai-c">
        <a href="/" class="header__logo">
            <img src="../assets/logo/logo.svg" alt="AMZSoL" />
        </a>

        <a id="btnMenuHamburger" href="#" class="header__menubtn hide-for-desktop">
            <span></span>
            <span></span>
            <span></span>
        </a>

        <div class="header__links hide-for-mobile">
            <a class="header__link" href="/">Home</a>
            <a class="header__link" href="/aboutus.html">About Us</a>
            <a class="header__link" href="/signup.html">Sign Up</a>
        </div>
    </nav>

    <div class="header__menu container has-fade">
        <a class="header__link" href="/">Home</a>
        <a class="header__link" href="/aboutus.html">About Us</a>
        <a class="header__link" href="/signup.html">Sign Up</a>
    </div>
</header>