<div id="modalSignUp" class="modal container">
    <span data-type="modalcloser" data-target="#modalSignUp" class="modal__overlay"></span>
    <div class="modal__main">
        <a type="button" data-type="modalcloser" data-target="#modalSignUp" class="modal__closebtn">&times;</a>
        <form class="modal__form">
            <h2>Sign Up</h2>
            <div class="modal__formelement">
                <label for="name">Name</label>
                <input type="text" placeholder="Enter name" required="required" />
            </div>
            <div class="modal__formelement">
                <label for="address">Address</label>
                <input type="text" placeholder="Enter Address" required="required" />
            </div>
            <div class="modal__formelement">
                <label for="coupon">Coupon</label>
                <input type="text" placeholder="Enter Coupon" required="required" />
            </div>
            <div class="modal__formelement">
                <label for="email">Email</label>
                <input type="text" placeholder="Enter email" required="required" />
            </div>
            <div class="modal__formelement">
                <label for="password">Password</label>
                <input type="password" placeholder="Enter password" required="required" />
            </div>
            <div class="modal__formelement">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" placeholder="Confirm password" required="required" />
            </div>
            <div class="modal__formelement">
                <button type="submit">Sign up</button>
            </div>
            <div class="modal__formelement">
                <div class="flex flex-jc-a flex-ai-c">
                    <a type="button" data-type="modalswitcher" data-present="#modalSignUp" data-target="#modalSignIn">Sign in</a>
                </div>
            </div>
        </form>
    </div>
</div>