<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <!--Navbar-->
    <%= require('../components/navbar.html?template').default %>

    <!--Signup-->
    <section class="signup container">
        <div class="signup__content">
            <h2>AMZSoL</h2>
            <h3>A Product of J-wire Co.Ltd.</h3>

            <div class="signup__wrapper">
                <a type="button" data-type="modalopener" data-target="#modalSignIn" class="button highlight">Sign In</a>
                <a type="button" data-type="modalopener" data-target="#modalSignUp" class="button">Sign Up</a>
            </div>
        </div>
        <%= require('../components/signinmodal.html?template').default %>
        <%= require('../components/signupmodal.html?template').default %>
        <%= require('../components/forgotpasswordmodal.html?template').default %>
    </section>

    <!--footer-->

</body>
</html>